.header {
    height: 100px;
    border-bottom: 1px solid #a0a5ab;
    background: #fff;
    padding: 0 1%;
    display: flex;
    .header_logo {
        max-width: 280px;
        width: 100%;
        display: flex;
        align-items: center;
        cursor: pointer;
        h3 {
            color: #437aac;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
        img {
            margin: 0 16px;
        }
    }
    .header_field {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .header_field_input {
            border-radius: 5px;
            background: #eee;
            padding: 0 0 0 16px;
            display: flex;
            align-items: center;
            input {
                width: 90%;
                padding: 14px;
                background: #eee;
                border-radius: 5px;
                color: #000;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                cursor: pointer;
            }
            svg {
                width: 24px;
                height: 24px;
            }
        }
        .header_field_btns {
            display: flex;
            .header_field_btn_post {
                button {
                    display: flex;
                    align-items: center;
                    border-radius: 6px;
                    border: 1px solid #ecedee;
                    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.07);
                    padding: 11px 15px;
                    svg {
                        color: #323232;
                        width: 22px;
                        height: 22px;
                        border-radius: 6px;
                        margin-right: 5px;
                    }
                }
            }
            button {
                color: #181818;
                font-size: 14px;
                text-transform: uppercase;
                font-style: normal;
                font-weight: 400;
                line-height: 14px;
                margin: 0 12px;
            }
        }
    }
}
