.footer {
  max-width: 1320px;
  width: 100%;
  height: 345px;
  padding: 0 1% 0 1%;
  margin: 0 auto;
  background: #24262a;
  box-shadow: 0px 1px 0px 0px #ecedee;
  &__top_block {
    width: 100%;
    display: flex;
    padding-top: 35px;
    padding: 35px 80px 1% 1%;
    justify-content: space-between;
    border-bottom: 1px solid #36373a;
    &__logo_block {
      &__header {
        display: flex;
        align-items: center;
        gap: 13px;
        margin-bottom: 25px;
        h6 {
          color: #437aac;
          font-size: 20px;
          font-family: "Inter", sans-serif;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }
    }
    p {
      color: #a0a5ab;
      font-size: 14px;
      font-family: "Nunito Sans";
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
    }
    &__about {
      display: flex;
      gap: 80px;
      &__title_block {
        h2 {
          color: #fff;
          font-size: 16px;
          font-family: "Nunito Sans", sans-serif;
          font-style: normal;
          font-weight: 400;
          line-height: 20px;
          margin-bottom: 23px;
        }
        p {
          color: #a0a5ab;
          font-size: 14px;
          font-family: "Nunito Sans", sans-serif;
          font-style: normal;
          font-weight: 400;
          line-height: 20px;
          margin-bottom: 16px;
        }
      }
    }
  }
  &__bottom_block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 16px 50px 0 0;
    &__icons {
      display: flex;
      gap: 16px;
    }
    &__text_block {
      display: flex;
      max-width: 741px;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      a {
        color: #fff;
        font-size: 14px;
        font-family: "Nunito Sans", sans-serif;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
      }
      button {
        max-width: 163px;
        width: 100%;
        height: 36px;

        color: #fff;
        font-size: 14px;
        font-family: "Nunito Sans", sans-serif;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;

        border-radius: 4px;
        border: none;
        background: #45464a;
        box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.05);
      }
    }
  }
}
